<html>
{% load static %}
    <head>
        <link rel="stylesheet" href="{% static "css/1.css" %}"/>
    </head>
    <body bgcolor:"blue">
        <center><h1><u>{{name}}'s Favourites</u></h1></center>
        <div>
            <h2>Player:{{player}}</h2>
            <h3><a href="https://en.wikipedia.org/wiki/Cristiano_Ronaldo">click more..</a></h3>
            <img src="{% static "images/cristiano.jpg"%}" >
        </div>
        <div>
            <h2>Animal:{{animal}}</h2>
            <h3><a href="https://en.wikipedia.org/wiki/Leopard">click more..</a></h3>
            <img src="{% static "images/leopard.jpg"%}" >
        </div>
        <div>
            <h2>Subject:{{subject}}</h2>
            <h3><a href=https://en.wikipedia.org/wiki/Python_%28programming_language%29">click more..</a></h3>
            <img src="{% static "images/python.jpg"%}" >
        </div>
    </body>
</html>



















